$main-color: rgba(0, 0, 0, 0.3); 
$text-color: rgb(255, 255, 255); 

.center {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

body {
    margin: 0px; 
    color: $text-color; 
    text-align: center; 
}

nav { 
    position: fixed; 
    top: 0%; 
    width: 100%; 
    height: 75px; 
    background-color: $main-color; 
    @extend .center; 
    flex-direction: row; 
    z-index: 9999; 

    .nav-center {
        width: 85%; 
        height: auto; 
        @extend .center; 
        flex-direction: row; 
        justify-content: center; 

        .nav-left {
            width: 80%; 
            height: auto; 
            @extend .center; 
            flex-direction: row; 
            justify-content: space-between;  

            .disabled {
                pointer-events: none; 
                opacity: 0.5; 
            }

            .nav-page-link { 
                width: auto; 
                height: 73px; 
                @extend .center; 
                border-bottom: 2px solid white; 
                color: $text-color; 
                text-decoration: none; 
                cursor: pointer; 
                transition: all ease 500ms; 

                &:hover { 
                    opacity: 0.55; 
                    border-bottom: 2px solid rgba(255,255, 255, 0); 
                }
            }
        } 

        .nav-right { 
            display: none; 
            width: 40%; 
            height: auto; 
            position: relative; 
            @extend .center; 
            flex-direction: row; 

            input {
                width: 100%; 
                height: 45px; 
                background-color: rgba(0, 0, 0, 0.65); 
                border: none; 
                padding-left: 10px; 
                border-top-right-radius: 10px; 
                border-bottom-right-radius: 10px; 
                outline: none; 
                color: $text-color; 
            } 

            button {
                width: 45px; 
                height: 47px; 
                background-color: rgba(0, 0, 0, 0.65); 
                @extend .center; 
                padding: 0px 10px; 
                border-top-left-radius: 10px; 
                border-bottom-left-radius: 10px; 
                border: none; 
                cursor: pointer; 

                img {
                    width: 30px; 
                    height: 30px; 
                    transition: all ease 500ms; 

                    &:hover {
                        opacity: 0.75; 
                    }
                }
            } 

            .input-error { 
                position: absolute; 
                width: auto; 
                height: auto; 
                padding: 10px 20px; 
                background-color: rgba(0, 0, 0, 0.5); 
                color: $text-color; 
                transition: all ease 500ms; 
                bottom: -110%; 
                left: 50px; 
                border-radius: 5px; 
                z-index: 100; 
            }
        }
    } 
} 

footer {
    position: fixed; 
    bottom: 0%; 
    width: 100%; 
    height: 75px; 
    background-color: $main-color;   
    @extend .center; 
    justify-content: space-evenly; 
    z-index: 9999; 

    .left-footer {
        width: 15%; 
        @extend .center; 

        img {
            width: 35px; 
            height: 35px; 
            transform: rotate(90deg); 
            cursor: pointer; 
            transition: all ease 500ms; 

            &:hover {
                opacity: 0.75; 
            }
        }
    }

    .middle-footer {
        width: 55%; 
        @extend .center; 
        justify-content: space-evenly; 

        .focus-dot {
            width: 13px; 
            height: 13px; 
            border-radius: 100%; 
            background-color: white; 
            cursor: pointer; 
            transition: all ease 500ms; 

            &:hover {
                opacity: 0.75; 
            }
        } 

        .unfocus-dot {
            width: 10px; 
            height: 10px; 
            border-radius: 100%; 
            background-color: rgb(150, 150, 150); 
            cursor: pointer; 
            transition: all ease 500ms; 

            &:hover {
                opacity: 0.75; 
            }
        }
    }

    .right-footer {
        width: 15%; 
        @extend .center; 

        img {
            width: 35px; 
            height: 35px; 
            transform: rotate(270deg); 
            cursor: pointer; 
            transition: all ease 500ms; 

            &:hover {
                opacity: 0.75; 
            }
        }
    }
} 

@media only screen and (min-width: 900px)/* and (max-width: 1500px)*/ {
    nav .nav-center {
        justify-content: space-between; 
    } 

    nav .nav-center .nav-left {
        width: 40%; 
    }

    nav .nav-center .nav-right {
        display: flex; 
    }
} 

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    nav .nav-center .nav-left .nav-page-link {
        font-size: 18px; 
    }
} 

@media only screen and (min-width: 1800px) {
    nav .nav-center .nav-left .nav-page-link {
        font-size: 22px; 
    }

    nav .nav-center {
        width: 65%; 
    }
}
